$E0: #121212;
$E1: #1d1d1d;
$E2: #212121;
$E3: #242424;
$E4: #272727;
$E5: #2c2c2c;
$E6: #2d2d2d;
$E7: #323232;
$E8: #353535;
$E9: #373737;

$primary: #84dfe2;
$secondary: #1D8487;

$text-high: rgba(255, 255, 255, 0.87);
$text-medium: rgba(255, 255, 255, 0.60);
$text-disabled: rgba(255, 255, 255, 0.38);

* {
    margin: 0;
    padding: 0;
}

body {
    height: 250px;
    width: 250px;
    background-color: $E2;


    div.container {
        height: 100%;
        display: flex;
        flex-direction: column;

        div.header {
            padding: 0.5rem;
            background-color: $E5;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            div.logo-wrapper {
                padding-right: 8px;
            } 

            div.title {
                font-size: 20px;
                color: $primary;
            }
        }

        div.main-wrapper {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            div.main {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                background-color: $E5;

                div.toggle-title {
                    color: $text-high;
                    font-size: 16px;
                    padding-bottom: 0.5rem;
                }

                div.toggle-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 0.5rem;

                    .toggle {
                        $width: 40px;
                        $height: calc(#{$width} / 2);
                        $border-radius: calc(#{$height} / 2);

                        display: inline-block;
                        cursor: pointer;

                        .toggle__input {
                            display: none;

                            &:checked~.toggle__fill {
                                background: #CACACA;

                                &::after {
                                    transform: translateX(#{$height});
                                }
                            }
                        }

                        .toggle__fill {
                            position: relative;
                            width: $width;
                            height: $height;
                            border-radius: $border-radius;
                            background: #F9D71C;
                            transition: background 0.2s;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: $height;
                                width: $height;
                                background: $text-high;
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                                border-radius: $border-radius;
                                transition: transform 0.2s;
                            }
                        }
                    }

                    .tooltip {
                        position: relative;
                        display: inline-block;
                        border-bottom: 1px dotted black;

                        .tooltiptext {
                            visibility: hidden;
                            width: 120px;
                            background-color: #555;
                            color: #fff;
                            text-align: center;
                            border-radius: 6px;
                            padding: 5px 0;
                            position: absolute;
                            z-index: 1;
                            bottom: 125%;
                            left: 50%;
                            margin-left: -60px;
                            opacity: 0;
                            transition: opacity 0.3s;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: #555 transparent transparent transparent;
                            }
                        }

                        &:hover .tooltiptext {
                            visibility: visible;
                            opacity: 1;
                        }

                        .sun-icon {
                            font-size: 24px;
                            color: #F9D71C;
                        }

                        .moon-icon {
                            font-size: 24px;
                            color: #CACACA;
                        }
                    }
                }

                div.confirm-wrapper {
                    display: flex;
                    justify-content: center;

                    a.confirm {
                        width: 65x;
                        display: inline-block;
                        padding: 4px 10px;
                        border: 1px solid $secondary;
                        background-color: $secondary;
                        border-radius: 2rem;
                        box-sizing: border-box;
                        text-decoration: none;
                        font-size: 14px;
                        color: $text-high;
                        text-align: center;
                        transition: all 0.2s;
    
                        &:hover {
                            border-color: $text-high;
                        }
                    }
                }
            }
        }
    }
}