* {
  margin: 0;
  padding: 0;
}

body {
  height: 250px;
  width: 250px;
  background-color: #212121;
  font-family: 'Inter', sans-serif;
}

body div.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.container div.header {
  padding: 0.5rem;
  background-color: #2c2c2c;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.container div.header div.logo-wrapper {
  padding-right: 8px;
}

body div.container div.header div.title {
  font-size: 20px;
  color: #84dfe2;
}

body div.container div.main-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.container div.main-wrapper div.main {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c2c2c;
}

body div.container div.main-wrapper div.main div.toggle-title {
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
  padding-bottom: 0.5rem;
}

body div.container div.main-wrapper div.main div.toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.5rem;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .toggle {
  display: inline-block;
  cursor: pointer;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .toggle .toggle__input {
  display: none;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .toggle .toggle__input:checked ~ .toggle__fill {
  background: #CACACA;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .toggle .toggle__input:checked ~ .toggle__fill::after {
  -webkit-transform: translateX(calc(40px / 2));
          transform: translateX(calc(40px / 2));
}

body div.container div.main-wrapper div.main div.toggle-wrapper .toggle .toggle__fill {
  position: relative;
  width: 40px;
  height: calc(40px / 2);
  border-radius: calc(calc(40px / 2) / 2);
  background: #F9D71C;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .toggle .toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(40px / 2);
  width: calc(40px / 2);
  background: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: calc(calc(40px / 2) / 2);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .tooltip .sun-icon {
  font-size: 24px;
  color: #F9D71C;
}

body div.container div.main-wrapper div.main div.toggle-wrapper .tooltip .moon-icon {
  font-size: 24px;
  color: #CACACA;
}

body div.container div.main-wrapper div.main div.confirm-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.container div.main-wrapper div.main div.confirm-wrapper a.confirm {
  width: 65x;
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #84dfe2;
  background-color: #84dfe2;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body div.container div.main-wrapper div.main div.confirm-wrapper a.confirm:hover {
  border-color: rgba(255, 255, 255, 0.87);
}
/*# sourceMappingURL=popup.css.map */